@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&family=Sacramento&family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: bisque;
    text-align: center;
    align-items: center;
    /* width: 50vh;
    height: 50vh; */
    
    
}

h1{
    font-family: "Ubuntu";
    text-align: center;
    align-items: center;
    margin: 10px 20px;
    padding: 40px;
}


#submit{
    padding: 10px;
    border-radius: 10px;
    font-family: "Merriweather";
    background-color: green;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

table, th, tr, td{
    border: 1px solid black;
    border-collapse: collapse;
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: auto;
}

table{
    margin-top: 30px;
}

th{
    background-color: rgb(243, 162, 55);
    color: whitesmoke;
    
}

tr:nth-child(odd){
    background-color: aliceblue;
}

tr:nth-child(even){
    background-color: burlywood
}